<div class="header_left">
  <h2><%= link_to 'Quick Pick', root_path, class: "app_name"%></h2>
</div>

<div class="header_right">
  <div class="nav">
    <li><%= link_to 'お気に入り', '#', class: "favorite"%></li>
    <li><%= link_to '新規登録', '#', class: "sign-up"%></li>
    <li><%= link_to 'ログイン', '#', class: "sign-in"%></li>
  </div>
</div>