* {
  background-color: floralwhite;
}

// ヘッダー部分
.header {
  display: flex;
}

.header_left{
  height: 8vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_right {
  height: 8vh;
  width: 60vw;
  display: flex;
  justify-content: center;
}

.nav {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

// トップ画面の画像関係
.top-img-box {
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.top-img {
  width: 70%;
}

// サービス紹介関係
.introduction {
  display: flex;
  justify-content: center;
}