// ヘッダー部分
.header {
  display: flex;
  background-color:#FFEBCD;
  // background-color: ivory;
}

.header_left{
  height: 8vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

// デフォルトにはないフォントを使いたい
// @font-face {
//   font-family: 'Corben-Regular';
//   src: font-url('/assets/Corben-Regular.ttf');
// }

// .app_name {
//   color: #333333;
//   font-family: 'Corben';
// }

.app_name {
  font-weight: 600;
  color: #333333;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header_right {
  height: 8vh;
  width: 60vw;
  display: flex;
  justify-content: center;
}

.nav {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

// index
// トップ画面の画像関係
.top-img-box {
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: ivory;
}

.top-img {
  width: 70%;
}

// サービス紹介関係
.introduction {
  display: flex;
  justify-content: center;
  background-color: ivory;
}

.topic {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: ivory;
}

.intro-img {
  display: flex;
  justify-content: center;
  background-color: ivory;
}

.left-intro {
  margin-right: 10px;
}

.right-intro {
  margin-left: 10px;
}

// ボタン関係
.btn-area {
  display: flex;
  justify-content: center;
  background-color: ivory;
}

.btn-success {
  height: 50px;
  width: 500px;
  margin-top: 50px;
}

.login_area {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: ivory;
}

.login {
  margin-top: 10px;
}

.footer {
  height: 75px;
  width: 100vw;
  background-color: #ebeae7;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}