* {
  background-color: ivory;
}

// ヘッダー部分
.header {
  display: flex;
}

.header_left{
  height: 8vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_right {
  height: 8vh;
  width: 60vw;
  display: flex;
  justify-content: center;
}

.nav {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

// トップ画面の画像関係
.top-img-box {
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.top-img {
  width: 70%;
}

// サービス紹介関係
.introduction {
  display: flex;
  justify-content: center;
}

.topic {
  margin-top: 50px;
  margin-bottom: 20px;
}

.intro-img {
  display: flex;
  justify-content: center;
}

.left-intro {
  margin-right: 10px;
}

.right-intro {
  margin-left: 10px;
}

// ボタン関係
.btn-area {
  display: flex;
  justify-content: center;
}

.btn-success {
  height: 50px;
  width: 500px;
  margin-top: 50px;
}

.login_area {
  display: flex;
  justify-content: center;
  height: 30px;
  margin-top: 10px;
}