.search-area {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ivory;
}

.form-area {
  height: 50px;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_container{
  box-sizing: border-box;
}
.search_container input[type="text"]{
  background: #fff;
  border: solid 3px #5cb85c;
  height: 35px;
  width: 10vw;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="button"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: solid 3px #5cb85c;
  background: #5cb85c;
  color: #fff;
  outline : none;
  width: 3.0em;
  height: 37px;
}

.distance {
  width: 10vw;
  height: 35px;
  border: solid 3px #5cb85c;
}

.result-map-area {
  display: flex;
}

.result-area {
  height: 80vh;
  width: 25vw;
  background-color: ivory;
}

.rank_tittle_area {
  height: 5vh;
}

.crown {
  width: 20px;
  position: relative;
  bottom: 3px;
}

.rank_tittle {
  height: 4vh;
  width: 120px;
  position: relative;
  top: 10px;
  left: 5vw;
}

.result_frame {
  height: 68vh;
  width: 23vw;
  position: relative;
  left: 2vh;
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
  background-color: #fff;
  overflow: scroll;
}

.map-area {
  height: 80vh;
  width: 75vw;;
}