.search-area {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ivory;
}

.form-area {
  height: 45px;
  width: 60vw;
  background-color: cadetblue;
}

.result-map-area {
  display: flex;
}

.result-area {
  height: 80vh;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ivory;
}

.result {
  height: 75vh;
  width: 20vw;
  background-color:cadetblue;
}

.map-area {
  height: 80vh;
  width: 75vw;;
}