<div class="wrapper">
  <%# header %>
  <div class="header">
    <%= render "shared/header" %>
  </div>

  <%# main %>
  <div class="search-area">
    <div class="form-area">
      <form class="search_container">
        <input type="text" size="25" placeholder=" 場所">
        <input type="text" size="25" placeholder=" キーワード">
        <input type="text" size="25" placeholder=" 距離 [m]">
        <input type="submit" value="&#xf002">
      </form>
    </div>
  </div>
  <div class="result-map-area">
    <div class="result-area">
      <div class="result">
        result
      </div>
    </div>
    <div class="map-area" id="mapArea">
      <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API']%>&libraries=places&callback=initMap" async defer></script>
    </div>
  </div>
</div>