<div class="wrapper">
  <%# header %>
  <div class="header">
    <%= render "shared/header" %>
  </div>

  <%# main %>
  <div class="search">
    検索項目
  </div>
  <div class="result_map_area">
    <div>
      result
    </div>
    <div>
      map
    </div>
  </div>
</div>