<div class="wrapper">
  <%# header %>
  <div class="header">
    <%= render "shared/header" %>
  </div>

  <%# main %>
  <div class="search">
    <div>
      <p>場所</p>
    </div>
    <div>
      <p>キーワード</p>
    </div>
    <div>
      <p>距離</p>
    </div>
    <div>
      <p>ボタン</p>
    </div>
  </div>
  <div class="result-map-area">
    <div class="result-area">
      result
    </div>
    <div class="map-area" id="mapArea">
      <script src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}=places&callback=initMap" async defer></script>
    </div>
  </div>
</div>